
spring: 
  application:
     name : student-service

  datasource:
    url: jdbc:mysql://localhost:3306/service
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    properties:
      hibernate:
       current_session_context_class: org.springframework.orm.hibernate4.SpringSessionContext 
      namingStrategy: org.hibernate.cfg.DefaultNamingStrategy
  config:
   import: optional:configserver:http://localhost:8888
   
  profiles:
    active: dev
server:
 port : 8083
 

 
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8084/eureka